.task-item {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgba(228, 228, 228, 0.552);
    color: rgb(109, 26, 109);
    gap: 12px;
}
.TodoItem-p {
    background-color: transparent;
}
.TodoItem-p--completed {
    text-decoration: line-through;
}
