.TodoList-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    grid-column: 1/-1;
    width: 90%;
    max-width: 60rem;
    min-width: 20rem;
    min-height: 250px;
}
.tasks-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 1.2rem;
    width: 100%;
}

.task-item {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgba(228, 228, 228, 0.552);
    color: rgb(109, 26, 109);
    gap: 12px;
}
.TodoItem-p {
    background-color: transparent;
}
.TodoItem-p--completed {
    text-decoration: line-through;
}
